<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='output.css') }}"
    />
    <title>Url Short</title>
  </head>
  <body>
    <header>
      <h1 class="text-blue-500">Url Short</h1>
    </header>
    <main></main>
  </body>
</html>
